@import "tailwindcss";

/* 
Bege claro
#FFF8F2
Bege
#DDC7BA
Color fonts Marrow escuro
#31231A 
*/

.color_bege_claro{color: #FFF8F2;}
.color_bege{color:#DDC7BA}
.color_marrow_escuro{color: #31231A;}

.bg_bege_claro{background: #FFF8F2;}
.bg_bege{background: #DDC7BA;}
.bg_marrow_escuro{background: #31231A;}

.sub_title,
#testemonials .title{font-size: 24px;font-weight: bold;}

.br-16{border-radius: 16px;}

.icon-size{
  width: 24px; 
  height: 24px;
  padding: 4px;
  background: white;
  border-radius: 100%;
  margin-right: 8px;
}
span{font-size: 14px;}
h1,h2,h3,h4,h5,h6,span,p{line-height: 1.0;}
.border-bottom{
  border-radius: 0px 0px 8px 8px;

}

.border-top{
  border-radius: 16px 16px 0px 0px;
}
.bs{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
}

/* help section */
#help .title,
#help .subtitle {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.0;
}
#help .content {
    padding: 16px;
    justify-content: center;
    display: grid;
    align-items: center;
}
#help .img-thumb{
  border-radius: 16px;
}
#help .choose .itens {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;    
  }
#help .choose .itens img {
    width: 48px;
    background: white;
    padding: 8px;
    border-radius: 8px;
}
 @media (max-width: 540px) {
  #help .title{text-align: center;}
 }
/* fim - help section */
/* testemonials */
#testemonials .title{line-height: 1.0;}
#testemonials .star{width: 8px;}
#testemonials .item{
  border-radius: 24px 24px 8px 8px;
}
#testemonials .item .thumb{
  border-radius: 16px 16px 0px 0px;
}
#testemonials .item .content{
  padding: 16px;
}

#testemonials .icon-content .icon{
  width: 32px;
  background: white;
  padding: 8px;
  border-radius: 100%;
}
#testemonials .content-stars {
    display: flex;
    float: right;
    margin-top: 24px;
    margin-bottom: 24px;
} 

/* fim - testemonials */
